{
  "extends": ["wesbos/typescript"],
  "ignorePatterns": ["**/*.config.ts", "**/*.config.js"],
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.*", "**/*.spec.*"] }]
  }
}
